/*font styling - weight: Light Regular Medium Semi-Bold Bold Extra-Bold Black*/

html, body {
    font-family: 'Darker Grotesque', sans-serif;
}

a {
    text-decoration: none;
}

.subTitle {
    font-size: 6vh;
    font-weight: bold;
}

.copy {
    font-size: 3vh;
}

#header {
    background-color: black;
    width: auto;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: sticky;
}

#logoSpace {
    width: 15%;
    padding-top: 2vh;
    padding-left: 2%;
}

#mainNav ul{
    display: flex;
    flex-direction: row;
    right: 0%;
    height: 100%;
    width: 30%;
    justify-content: space-evenly;
    position: absolute;
    padding-top: 5vh;
    padding-right: 2%;
    padding-left: 2%;
    color: white;
}


#mainNav ul li a {
    color: white;
    font-weight: medium;
    font-size: 3vh;
    transition: all .5s linear;
}

#mainNav ul li a:hover {
    color: orange;
}

.navSeparator {
    font-size: 6vh;
    top: -1.5vh;
    position: relative;
    color: orange;
}

.hero {
    width: 100%;
    height: 85vh;   
}

#heroIMG {
    height: 100%;
    width: 100%;
    background-image: url("/images/bg_image.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

#heroTextBox {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
}

#heroText {
    opacity: 1;
    z-index: 2;
    width: 40%;
    text-align: center;
    font-size: 5rem;
    position: absolute;
    left: 28vw;
    top: 37vh;
    color: white;
    font-weight: semi-bold;

}

/*projects section*/

#projects {
    width: 100%;
}

#projGridDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
}

.projGrid {
    background-color: orangered;
    opacity: .8;
    width: 100%;
    height: 75vw;
    color: white;
    text-align: center;
    border: .5px solid white;
    transition: all 1s linear;
 }

 .projGrid:hover {
    opacity: 1;
    cursor: pointer;
 }

 #projectsTitle {
    width: 100%;
    height: 20vh;
    text-align: center;
    margin-top: 5vh;
}

#projectsTitle .copy {
    padding: 1vh;
}

.projText {
   color: black;
   padding-top: 30%;
   width: 70%;
   margin: 0 auto;
   font-size: 2.5vw;
   font-weight: bold;
}

#projBG1 {
    width: 100%;
    height: 100%;
    background-image: url("/images/iecs_thumb.png");

    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}


/*contact page*/

#formCon {
    width: 70%;
    padding: 5%;
    margin: 0 auto;
}

.form-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.form-div label {
    padding-bottom: 1%;
}

#contactBlurbDiv {
    display: hidden;
}



/*responsive mobile width*/
@media only screen and (min-width: 420px) {

    #projects {
       width: 100%;
   }
   
   #projGridDiv {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       justify-content: space-evenly;
   }
   
   #projects .projGrid {
       width: 100%;
       height: 40vw;
       color: white;
       text-align: center;
    }

/*contact page*/

#contactSectionWrapper {
    display: flex;
    flex-direction: column;
}

#formCon {
    width: 45%;
    padding: 5%;
    margin: 0 auto;
}

#contactBlurbDiv {
    width: 100%;
    background-color: black;
    height: 200px;
}
  
}



/*responsive tablet width*/
@media only screen and (min-width: 850px) {

#projects {
    width: 100%;
}

#projGridDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    height: 90vh;
}

#projects .projGrid {
   width: 100%;
   height: 45vh;
   color: white;
   text-align: center;
}

/*contact page*/

#contactSectionWrapper {
    display: flex;
    flex-direction: row;
}

#formCon {
    width: 40%;
    padding: 5%;
    margin: 0 auto;
}

#contactBlurbDiv {
    width: 50%;
    background-color: black;
    height:85vh;
}


}
